/* CSS Document */
ul{ list-style:none; margin:0px; padding:0px;}
div,p,img,li,span,font,input,select,form{ margin:0px; padding:0px;}
h1,h2,h3,h4,h5,h6{ margin:0px; padding:0px; font-size:12px; font-family:"微软雅黑"; font-weight:normal; font-style:normal}
img{ vertical-align:bottom; border:0;}
a{ text-decoration:none;}
a:hover{ color:#F78D4D;}

input{ vertical-align:middle;}
body{ margin:0px; padding:px; width:100%; height:700px; background:#343434 url(../images/service2_01.jpg) no-repeat; font-size:12px;}
.zhengti{ width:1126px; height:700px;margin:0 auto;}
.header{ width:1126px; height:106px; overflow:hidden;}
.logo{ float:left; display:inline; width:134px; height:106px; margin-left:62px;}
.nav{ float:left; width:700px; height:24px; margin-left:200px; margin-top:70px;}
/*menu*/
#nav {width:700px; display:block;}
#nav .jquery_out {float:left;line-height:32px;display:block; border-right:1px solid #fff; text-align:center; color:#fff;font:18px/32px "微软雅黑"; background:#062723 url(../images/slide-panel_03.png) 0 0 repeat-x;}
#nav .mainlevel {background:#ffe60c; float:left; width:94px; margin-right:35px;background:url(../images/service4_03.png) no-repeat left; /*IE6 only*/}
.suojin{ text-indent:25px;}
#nav .mainlevel a {color:#000; text-decoration:none; line-height:24px; display:block;width:94px;}
#nav .mainlevel a:hover { width:94px;color:#fff; text-decoration:none; background:url(../images/service3_05.jpg);}
#nav .mainlevel ul {display:none; position:absolute;}
#nav .mainlevel li {border-top:1px solid #fff; background:#FAC087; width:94px; text-align:center;/*IE6 only*/}
.log {text-align:center; color:skyblue; line-height:24px; text-transform:capitalize; margin:50px auto;}

.main{ width:1126px; height:570px; overflow:hidden;}
.main_left{float:left; display:inline; width:638px;margin-left:62px;}
.service{ height:143px;}
.service_type{ height:68px;}
.service_content_zi{color:#7D7C7C; display:none;}
.service_content_zi p{ line-height:24px;padding-top:20px;}
.main_right{ float:left; width:371px;}
.lu_biao{ margin-top:80px;}
.footer{ width:1126px; height:35px; margin:0 auto; line-height:35px;}
.footer li{float:left;}
.address{ width:500px; margin-left:62px; color:#949494;}
.icp{ width:320px; color:#949494;}
.service_hot{ background:url(../images/serve_03.jpg) no-repeat left; padding-left:20px; color:#5B5B5B;}
.footer a{color:#949494;}
.footer a:hover{ color:#FAC087;}

/*服务页*/
.service_type li{ float:left; margin-right:60px; text-align:center; line-height:30px; font-weight:bold;}
.service_type li a{ color:#2C2C2C;}
.tai_deng{ margin-top:30px;}

/*客户页*/
.kehu{ margin-left:62px; width:1000px; height:151px;}
.anli{ width:1100px; margin-left:62px; overflow:hidden;}
.anli li{ width:117px; height:63px; float:left; display:inline; margin-right:51px; margin-bottom:20px;}
.anli li img{ width:115px; height:61px; border:#D8D8D9 1px solid;}

/*联系页*/
.lianxi_title{ width:1000px; height:143px; margin-left:62px;}
.lianxi{ width:999px; height:405px; margin-left:62px; background:url(../images/lianxi2_03.png) no-repeat;}
.lianxi_tab{ width:500px;height:28px; line-height:28px; padding-top:60px; padding-left:20px; text-align:center; font-weight:bold;}
.lianxi_tab li{ float:left;width:84px; height:28px; cursor:pointer;}
.lianxi_content{ width:550px; height:250px;margin-left:20px; margin-top:10px; color:#080404; display:none;}
.lianxi_content p{ line-height:20px;padding-top:6px;}

/*案例2*/
.anli_container{ width:1000px; margin-left:62px;}
.anli2_menu{ float:left; display:inline; width:127px; height:400px;}
.photo{ float:left; width:442px; height:354px; margin-left:15px;}
.anli2_zi{ float:right; width:400px; height:200px;}
.has_children{ width:127px;}
.has_children span{ display:block; font-size:13px; width:127px; height:30px; line-height:30px; border-bottom:#C9C9C9 1px solid; font-weight:bold; background:url(../images/anli2_07.png) no-repeat right; color:#868F8F;}
.lizi a{ display:block; width:127px; height:26px;background:url(../images/anli2_19.png) no-repeat 10px 8px; padding-left:20px; line-height:26px;}
.lizi{width:127px; display:none;}
.has_children a:hover{ color:#F26C00;}
.anli2_content{ margin-top:20px;}
.anli2_content p{ line-height:20px; color:#474747; margin-bottom:10px;}


